@model IList<Biograf_Booking_Web.Models.Seat>
<!DOCTYPE html>

<html>
<head>
    <title>Sæde reservation</title>
    <link href="~/Content/StyleSheetSeats.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:dimgrey">
    >

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" id="reservedSeats" name="reservedSeats" value="">
        <div class="cinema">
            <div class="form-group">
                <ol class="allSeats">
                    <li class="row row--1">
                        <ol class="seats" type="A">
                            @for (int i = 1; i < 13; i++)
                            {
                                
                                var booked = "";
                                var v = i - 1;
                               
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                                <li class="seat">
                                    <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                    <label for="@i">@i</label>
                                </li>

                            }
                        </ol>
                    </li>

                    <li class="row row--2">
                        <ol class="seats" type="A">
                            @for (int i = 13; i < 25; i++)
                            {
                                
                                var booked = "";
                                var v = i - 1;
                                
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                                <li class="seat">
                                    <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                    <label for="@i">@i</label>
                                </li>

                            }
                        </ol>
                    </li>
                    <li class="row row--3">
                        <ol class="seats" type="A">
                            @for (int i = 25; i < 37; i++)
                            {
                                
                                var booked = "";
                                var v = i - 1;
                               
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                                <li class="seat">
                                    <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                    <label for="@i">@i</label>
                                </li>

                            }
                        </ol>
                    </li>
                    <li class="row row--4">
                        <ol class="seats" type="A">
                            @for (int i = 37; i < 49; i++)
                            {
                                
                                var booked = "";
                                var v = i - 1;
                                
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                                <li class="seat">
                                    <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                    <label for="@i">@i</label>
                                </li>

                            }
                        </ol>
                    </li>
                    <li class="row row--5">
                        <ol class="seats" type="A">
                            @for (int i = 49; i < 61; i++)
                            {

                                var booked = "";
                                var v = i - 1;
                               
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                            <li class="seat">
                                <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                <label for="@i">@i</label>
                            </li>
                                
                            }
                        </ol>
                    </li>
                    <li class="row row--6">
                        <ol class="seats" type="A">
                            @for (int i = 61; i < 73; i++)
                            {

                                var booked = "";
                                var v = i - 1;
                             
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                                <li class="seat">
                                    <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                    <label for="@i">@i</label>
                                </li>

                            }
                        </ol>
                    </li>
                    <li class="row row--7">
                        <ol class="seats" type="A">
                            @for (int i = 73; i < 85; i++)
                            {

                                var booked = "";
                                var v = i - 1;
                                
                                if (Model[v].booked)
                                {
                                    booked = "disabled";
                                }
                                <li class="seat">
                                    <input type="checkbox" id=@i value="0" name="seat" onclick="seatchange(@i)" @booked />
                                    <label for="@i">@i</label>
                                </li>

                            }
                        </ol>
                    </li>
                </ol>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Javascript/MovieDynamics.js"></script>
</body>
</html>
