
@model IList<int>
<!DOCTYPE html>

<html>
<head>
    <title>Sæde reservation</title>
    <link href="~/Content/StyleSheetSeats.css" rel="stylesheet" type="text/css" />



</head>
<body>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }

        html {
            font-size: 16px;
            background-color: dimgrey
        }

        .cinema {
            max-width: 300px;
            margin-top: 100px;
            margin-bottom: 100px;
            margin-right: 150px;
            margin-left: 400px;
        }

        ol {
            list-style: none;
            padding: 0;
        }

        .seats {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .seat {
            display: flex;
            flex: 0 0 14.28571428571429%;
            padding: 5px;
            position: relative;
        }

            .seat:nth-child(12) {
                margin-right: 60%;
            }

            .seat input[type=checkbox] {
                position: absolute;
                opacity: 0;
            }

                .seat input[type=checkbox]:checked + label {
                    background: #ffd800;
                    -webkit-animation-name: rubberBand;
                    animation-name: rubberBand;
                    animation-duration: 300ms;
                    animation-fill-mode: both;
                }

                .seat input[type=checkbox]:disabled + label {
                    background: #ffffff;
                    text-indent: -9999px;
                    overflow: hidden;
                }

                    .seat input[type=checkbox]:disabled + label:after {
                        content: "X";
                        text-indent: 0;
                        position: absolute;
                        top: 4px;
                        left: 50%;
                        transform: translate(-50%, 0%);
                    }

                    .seat input[type=checkbox]:disabled + label:hover {
                        box-shadow: none;
                        cursor: not-allowed;
                    }

            .seat label {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.5rem;
                padding: 4px 0;
                background: #88d783;
                border-radius: 5px;
                animation-duration: 300ms;
                animation-fill-mode: both;
            }

                .seat label:before {
                    content: "";
                    position: absolute;
                    width: 75%;
                    height: 75%;
                    top: 1px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 3px;
                }

                .seat label:hover {
                    cursor: pointer;
                    box-shadow: 0 0 0px 2px #5C6AFF;
                }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            text-decoration: none;
            color: initial;
        }

        -webkit-keyframes rubberBand {
            0%

        {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        }

        keyframes rubberBand {
            0%

        {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        }

        .rubberBand {
            -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
        }
    </style>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <ol class="allSeats">
                <li class="row row--1">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="1" value="1" />
                            @Html.ValidationMessageFor(m => m[1])
                            <label for="1">1</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="2" value="2" />
                            @Html.ValidationMessageFor(m => m[2])
                            <label for="2">2</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="3" value="3" />
                            @Html.ValidationMessageFor(m => m[3])
                            <label for="3">3</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="4" value="4" />
                            @Html.ValidationMessageFor(m => m[4])
                            <label for="4">4</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="5" value="5" />
                            <label for="5">5</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="6" value="6" />
                            <label for="6">6</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="7" value="7" />
                            <label for="7">7</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="8" />
                            <label for="8">8</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="9" />
                            <label for="9">9</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="10" />
                            <label for="10">10</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="11" />
                            <label for="11">11</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="12" />
                            <label for="12">12</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--2">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="13" />
                            <label for="13">13</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="14" />
                            <label for="14">14</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="15" />
                            <label for="15">15</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="16" />
                            <label for="16">16</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="17" />
                            <label for="17">17</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="18" />
                            <label for="18">18</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="19" />
                            <label for="19">19</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="20" />
                            <label for="20">20</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="21" />
                            <label for="21">21</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="22" />
                            <label for="22">22</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="23" />
                            <label for="23">23</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="24" />
                            <label for="24">24</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--3">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="25" />
                            <label for="25">25</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="26" />
                            <label for="26">26</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="27" />
                            <label for="27">27</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="28" />
                            <label for="28">28</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="29" />
                            <label for="29">29</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="30" />
                            <label for="30">30</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="31" />
                            <label for="31">31</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="32" />
                            <label for="32">32</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="33" />
                            <label for="33">33</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="34" />
                            <label for="34">34</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="35" />
                            <label for="35">35</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="36" />
                            <label for="36">36</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--4">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="37" />
                            <label for="37">37</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="38" />
                            <label for="38">38</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="39" />
                            <label for="39">39</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="40" />
                            <label for="40">40</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="41" />
                            <label for="41">41</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="42" />
                            <label for="42">42</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="43" />
                            <label for="43">43</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="44" />
                            <label for="44">44</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="45" />
                            <label for="45">45</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="46" />
                            <label for="46">46</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="47" />
                            <label for="47">47</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="48" />
                            <label for="48">48</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--5">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="49" />
                            <label for="49">49</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="50" />
                            <label for="50">50</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="51" />
                            <label for="51">51</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="52" />
                            <label for="52">52</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="53" />
                            <label for="53">53</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="54" />
                            <label for="54">54</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="55" />
                            <label for="55">55</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="56" />
                            <label for="56">56</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="57" />
                            <label for="57">57</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="58" />
                            <label for="58">58</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="59" />
                            <label for="59">59</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="60" />
                            <label for="60">60</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--6">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="61" value="61" />
                            <label for="61">61</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="62" value="62" />
                            <label for="62">62</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="63" value="63" />
                            <label for="63">63</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="64" />
                            <label for="64">64</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="65" />
                            <label for="65">65</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="66" />
                            <label for="66">66</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="67" />
                            <label for="67">67</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="68" />
                            <label for="68">68</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="69" />
                            <label for="69">69</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="70" />
                            <label for="70">70</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="71" />
                            <label for="71">71</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="72" />
                            <label for="72">72</label>
                        </li>
                    </ol>
                </li>
                <li class="row row--7">
                    <ol class="seats" type="A">
                        <li class="seat">
                            <input type="checkbox" id="73" />
                            <label for="73">73</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="74" />
                            <label for="74">74</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="75" />
                            <label for="75">75</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="76" />
                            <label for="76">76</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="77" />
                            <label for="77">77</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="78" />
                            <label for="78">78</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="79" />
                            <label for="79">79</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="80" />
                            <label for="80">80</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="81" />
                            <label for="81">81</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="82" />
                            <label for="82">82</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="83" />
                            <label for="83">83</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="84" />
                            <label for="84">84</label>
                        </li>
                    </ol>
                </li>
            </ol>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>
